# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo

# Variables d'environnement
.env
.env.local

# NuGet
*.nupkg
packages/

# Node
node_modules/
dist/

# Expo
.expo/

# Configurations locales avec secrets
**/Properties/launchSettings.json
**/appsettings.Development.json
**/appsettings.*.local.json
infra/sonarqube/params.generated.json
