# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo

# NuGet
*.nupkg
packages/

# Node
node_modules/
dist/

# Expo
.expo/

# Configurations locales avec secrets
**/Properties/launchSettings.json