<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[CesiZen.Infrastructure]CesiZen.Infrastructure.Migrations.*,[CesiZen.Infrastructure]CesiZen.Infrastructure.Data.DatabaseSeeder,[CesiZen.Infrastructure]CesiZen.Infrastructure.Data.ApplicationDbContextFactory,[CesiZen.API]CesiZen.API.Program</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute,ExcludeFromCodeCoverage</ExcludeByAttribute>
          <SingleHit>false</SingleHit>
          <UseSourceLink>false</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>